.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todoPage {
  padding: 20px;
}
.toolbar {  
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    place-content: center space-between;
    align-items: center;
    margin-bottom: 50px;
}

.toolbar > .history {
  position: absolute;
  right: 30px;
  top: 30px;
    width: 110px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;    
}

.history  button, .todoItem button {

  margin-left: 20px;
  
}

.todoForm {
  width: 50vw;
}

.todoForm input {
  width: 30vw;
}